1 VERSIONINFO
  FILEVERSION {BuildVerMajor},{BuildVerMinor},{BuildVerPatch},{BuildVerBuild}
  PRODUCTVERSION {BuildVerMajor},{BuildVerMinor},{BuildVerPatch},{BuildVerBuild}
  FILEOS 0x00040004L
  FILEFLAGSMASK 0x0000003FL
  {BuildVerFileFlag}
  FILETYPE 0x00000001L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904E4"
      BEGIN
        VALUE "FileVersion", "{BuildVerStrFull}\0"
        VALUE "FileDescription", "{BuildName}\0"
        VALUE "ProductName", "{BuildName}\0"
        VALUE "ProductVersion", "{BuildVerStr}\0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0402, 1200   // Bulgarian
      VALUE "Translation", 0x0403, 1200   // Catalan
      VALUE "Translation", 0x0404, 1200   // Traditional Chinese
      VALUE "Translation", 0x0405, 1200   // Czech
      VALUE "Translation", 0x0406, 1200   // Danish
      VALUE "Translation", 0x0407, 1200   // German
      VALUE "Translation", 0x0408, 1200   // Greek
      VALUE "Translation", 0x0409, 1200   // U.S. English
      VALUE "Translation", 0x040A, 1200   // Spanish
      VALUE "Translation", 0x040C, 1200   // French
      VALUE "Translation", 0x040E, 1200   // Hungarian
      VALUE "Translation", 0x0413, 1200   // Dutch
      VALUE "Translation", 0x0410, 1200   // Italian
      VALUE "Translation", 0x0411, 1200   // Japanese
      VALUE "Translation", 0x0412, 1200   // Korean
      VALUE "Translation", 0x0414, 1200   // Norwegian
      VALUE "Translation", 0x0415, 1200   // Polish
      VALUE "Translation", 0x0416, 1200   // Portuguese (Brazil)
      VALUE "Translation", 0x0418, 1200   // Romanian
      VALUE "Translation", 0x0419, 1200   // Russian
      VALUE "Translation", 0x041A, 1200   // Croato-Serbian (Latin)
      VALUE "Translation", 0x041B, 1200   // Slovak
      VALUE "Translation", 0x0421, 1200   // Indonesia
      VALUE "Translation", 0x041D, 1200   // Swedish
      VALUE "Translation", 0x041E, 1200   // Thai
      VALUE "Translation", 0x041F, 1200   // Turkish
      VALUE "Translation", 0x0422, 1200   // Ukrainian
      VALUE "Translation", 0x04E9, 1200   // Lithuanian
      VALUE "Translation", 0x0804, 1200   // Simplified Chinese
      VALUE "Translation", 0x081A, 1200   // Serbian
      VALUE "Translation", 0x2801, 1200   // Arabic
    END
  END

#define RT_MANIFEST 24

1 RT_MANIFEST "{BuildTempPath}\\MySQLFront.manifest"  

MAINICON ICON "{BuildImagesPath}\\MySQLFront.ico"
10000 ICON "{BuildImagesPath}\\Blank.ico"
10001 ICON "{BuildImagesPath}\\cubes.ico"
10002 ICON "{BuildImagesPath}\\table_sql_view.ico"
10003 ICON "{BuildImagesPath}\\text_code.ico"
10004 ICON "{BuildImagesPath}\\table.ico"
10005 ICON "{BuildImagesPath}\\folder_out.ico"
10006 ICON "{BuildImagesPath}\\disk_blue.ico"
10007 ICON "{BuildImagesPath}\\cut.ico"
10008 ICON "{BuildImagesPath}\\copy.ico"
10009 ICON "{BuildImagesPath}\\paste.ico"
10010 ICON "{BuildImagesPath}\\delete2.ico"
10011 ICON "{BuildImagesPath}\\preferences.ico"
10012 ICON "{BuildImagesPath}\\find.ico"
10014 ICON "{BuildImagesPath}\\MySQL.ico"
10017 ICON "{BuildImagesPath}\\brush3.ico"
10018 ICON "{BuildImagesPath}\\media_play_green.ico"
10019 ICON "{BuildImagesPath}\\row_add.ico"
10020 ICON "{BuildImagesPath}\\row_delete.ico"
10021 ICON "{BuildImagesPath}\\apply.ico"
10022 ICON "{BuildImagesPath}\\refresh.ico"
10023 ICON "{BuildImagesPath}\\server.ico"
10024 ICON "{BuildImagesPath}\\data.ico"
10025 ICON "{BuildImagesPath}\\table.ico"
10026 ICON "{BuildImagesPath}\\key1.ico"
10027 ICON "{BuildImagesPath}\\column.ico"
10028 ICON "{BuildImagesPath}\\link.ico"
10029 ICON "{BuildImagesPath}\\replace.ico"
10030 ICON "{BuildImagesPath}\\element_run.ico"
10031 ICON "{BuildImagesPath}\\gears.ico"
10032 ICON "{BuildImagesPath}\\environment.ico"
10033 ICON "{BuildImagesPath}\\users2.ico"
10034 ICON "{BuildImagesPath}\\box.ico"
10035 ICON "{BuildImagesPath}\\scroll.ico"
10036 ICON "{BuildImagesPath}\\clients.ico"
10037 ICON "{BuildImagesPath}\\undo.ico"
10038 ICON "{BuildImagesPath}\\redo.ico"
10040 ICON "{BuildImagesPath}\\server_connection.ico"
10041 ICON "{BuildImagesPath}\\user3.ico"
10042 ICON "{BuildImagesPath}\\registry.ico"
10043 ICON "{BuildImagesPath}\\gear.ico"
10044 ICON "{BuildImagesPath}\\gauge.ico"
10047 ICON "{BuildImagesPath}\\media_rewind.ico"
10048 ICON "{BuildImagesPath}\\addone.ico"
10049 ICON "{BuildImagesPath}\\arrow_up_blue.ico"
10050 ICON "{BuildImagesPath}\\arrow_down_blue.ico"
10051 ICON "{BuildImagesPath}\\removeone.ico"
10052 ICON "{BuildImagesPath}\\media_fast_forward.ico"
10053 ICON "{BuildImagesPath}\\navigate_beginning.ico"
10054 ICON "{BuildImagesPath}\\navigate_end.ico"
10055 ICON "{BuildImagesPath}\\element_ok.ico"
10056 ICON "{BuildImagesPath}\\element_stop.ico"
10057 ICON "{BuildImagesPath}\\navigate_left2.ico"
10058 ICON "{BuildImagesPath}\\navigate_right2.ico"
10059 ICON "{BuildImagesPath}\\data_add.ico"
10060 ICON "{BuildImagesPath}\\data_delete.ico"
10061 ICON "{BuildImagesPath}\\table_add.ico"
10062 ICON "{BuildImagesPath}\\table_delete.ico"
10063 ICON "{BuildImagesPath}\\key1_add.ico"
10064 ICON "{BuildImagesPath}\\key1_delete.ico"
10065 ICON "{BuildImagesPath}\\column_add.ico"
10066 ICON "{BuildImagesPath}\\column_delete.ico"
10067 ICON "{BuildImagesPath}\\link_add.ico"
10068 ICON "{BuildImagesPath}\\stop.ico"
10071 ICON "{BuildImagesPath}\\monitor.ico"
10072 ICON "{BuildImagesPath}\\link_delete.ico"
10073 ICON "{BuildImagesPath}\\star_yellow.ico"
10074 ICON "{BuildImagesPath}\\table_view.ico"
10075 ICON "{BuildImagesPath}\\column_view.ico"
10076 ICON "{BuildImagesPath}\\note.ico"
10077 ICON "{BuildImagesPath}\\note.ico"
10078 ICON "{BuildImagesPath}\\flash.ico"
10079 ICON "{BuildImagesPath}\\table_view.ico"
10080 ICON "{BuildImagesPath}\\column.ico"
10081 ICON "{BuildImagesPath}\\calendar.ico"
10082 ICON "{BuildImagesPath}\\note_edit.ico"
10083 ICON "{BuildImagesPath}\\note_view.ico"
10084 ICON "{BuildImagesPath}\\clock.ico"
10085 ICON "{BuildImagesPath}\\history2.ico"
10086 ICON "{BuildImagesPath}\\component_green.ico"
10087 ICON "{BuildImagesPath}\\press.ico"
10088 ICON "{BuildImagesPath}\\funnel.ico"
10089 ICON "{BuildImagesPath}\\pin_grey.ico"
10090 ICON "{BuildImagesPath}\\data_view.ico"
10092 ICON "{BuildImagesPath}\\nav_left_green.ico"
10093 ICON "{BuildImagesPath}\\nav_right_green.ico"
10094 ICON "{BuildImagesPath}\\text_tree.ico"
10095 ICON "{BuildImagesPath}\\step.ico"
10096 ICON "{BuildImagesPath}\\folders.ico"
10097 ICON "{BuildImagesPath}\\note_ok.ico"
10098 ICON "{BuildImagesPath}\\wrench.ico"
10099 ICON "{BuildImagesPath}\\branch.ico"
10100 ICON "{BuildImagesPath}\\magic_wand.ico"

1 RCDATA "{BuildImagesPath}\\Info.jpg"

STRINGTABLE
BEGIN
  1000 "{BuildName}"
  1001 "{BuildProgramFiles}"
  1002 "{BuildAppData}"
  1003 "{BuildRegistry}"
  1004 "{BuildInternetHomepage}"
  1005 "{BuildInternetPadFile}"
END
